.nav {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 11000;
}

.menu {
  background-color: var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 4.375em;
}

.menu .menu__title {
  display: flex;
  align-items: center;
  flex-basis: 80%;
}

.menu__list {
  width: 100%;
  position: absolute;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  left: -100%;
  transition: 0.3s left ease;
  z-index: 10000;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.menu__list--escritorio {
  right: 0;
  width: 300px;
  left: auto;
  height: calc(100vh - 70px);
  margin-top: 70px;
}

.menu__list.menu__list--open {
  left: 0;
}

.menu__item {
  text-align: center;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__item:hover {
  background-color: var(--main-color);
}

.menu__item:hover .menu__link {
  color: white;
}

.menu__link {
  color: var(--main-color);
  text-decoration: none;
  font-size: 1.5em;
  font-family: var(--main-font);
  padding: 1.5625em;
  width: 100%;
  text-align: center;
}

.menu .hamburger {
  position: relative;
  z-index: 11000;
}

.hamburger--white {
  background-color: white;
}

.scroll--hidden {
  overflow-y: hidden;
}

.menu__item--intersecting {
  background-color: var(--main-color);
}

.menu__link--intersecting {
  color: white;
}
